{% if include.call_to_action.body %}
<div class="row">
  <div class="col">
    <h2>{{ include.call_to_action.title }}</h2>
    {{ include.call_to_action.body | markdownify }}
  </div>
</div>
{% endif %}

{% if include.call_to_action.url contains 'http' %}
  {% assign link_target = "_blank" %}
{% else %}
  {% assign link_target = "_self" %}
{% endif %}

<div class="row justify-content-center" style="padding-top: 40px; text-align:center;">
  <div class="col">
    <a href="{{ include.call_to_action.url }}" target="{{ link_target }}" class="btn btn-primary btn-lg call-to-action-button" role="button" aria-pressed="true">
      {{ include.call_to_action.title }}
    </a>
  </div>
</div>