<footer class="footer sticky-bottom" style="background-color:{{ site.data.info.theme_color }}; padding: 80px 0; text-align:center;">
  <div class="container" style="color:white;">
    <ul class="list-inline">
      {% include menus.html menu="footer" %}
    </ul>

    <ul class="list-inline">
      {% for social in site.data.socials %}
      <li class="list-inline-item">
        <a href={{ social.url | escape }} title="{{ social.title }}" target="_blank" style="color:white;">
          <i class="fab {{ site.data.icons[social.title].fa_icon }} fa-lg" style="margin: 0 8px;"></i>
        </a>
      </li>
      {%- endfor -%}
    </ul>

    <div class="row">
      <div class="col">
        <p>Copyright {{ "©" }} {{ site.time | date: "%Y" }} {{ site.data.info.full_name }}</p>
      </div>
    </div>
  </div>
</footer>
