{% if page.hero.image %}
  {% assign header_style = "background:url(" | append: page.hero.image | append: ");" %}
  {% assign hero_style = "background-color: rgba(0, 0, 0, 0.5);" %}
{% else %}
  {% assign header_style = "background-color:" | append: page.hero.color %}
  {% assign hero_style = "" %}
{% endif %}

<div class="container-fluid">
  <header style="{{ header_style }}">

    <div class="page-hero" style="{{ hero_style }}">
      
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="/">
          <img src={{ "uploads/logo-only.svg" | relative_url }} alt="Logo">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            {% assign pages = site.pages | where:"is_nav",true | sort: 'position' %}
            {% for page in pages %}

            {% unless forloop.last == true %}
            <li class="nav-item">
              <a class="nav-link active" href={{ page.url | escape }}>{{ page.title }}</a>
            </li>
            {% else %}
            <li class="nav-item nav-call-to-action">
              <a class="nav-link active" style="color:white" href={{ page.url | escape }}>{{ page.title }}</a>
            </li>
            {% endunless %}
            
            {% endfor %}
            
          </ul>
        </div>
      </nav>

      <div class="row page-hero-copy">
        <div class="col">
          <h1 class="display-1">{{ page.display_title | default: page.title }}</h1>

          {% if page.subtitle %}
          <h2 id="hero-subtitle" class="page-hero-subtitle">{{ page.subtitle }}</h2>
          {% endif %}

          {% if page.url == "/" %}
          <div class="play-icon">
            <a href={{ page.call_to_action.url }} class="video-player" role="button" aria-pressed="true">
              <i class="fa fa-play-circle fa-lg"></i> {{ page.call_to_action.title }}
            </a>
          </div>
          {% endif %}

        </div>
      </div>
    
    </div>

  </header>
</div>