<header style="background-color:{{ page.hero.background_color }}">
  <nav class="navbar navbar-expand navbar-dark justify-content-between">
    <a class="navbar-brand" href="/">{{ site.title }}</a>
    <ul class="nav nav-pills">
      {% for item in site.data.info.navigation %}
      <li class="nav-item">
        <a href={{ item.url | escape }} class="nav-link active" style="background-color:white; color:{{ page.hero.background_color }}">{{ item.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>