{% if page.hero.image %}
{% assign jumbotron_style = "background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(" | append: page.hero.image | append: ");" %}
{% else %}
{% assign hero_color = page.hero.color | default: site.data.style.color %}
{% assign jumbotron_style = "background-color:" | append: hero_color | append: ";" %}
{% endif %}

<div class="jumbotron jumbotron-fluid" style="{{jumbotron_style}}">
  <div class="container-fluid">
    <h1 class="display-1" style="text-align:center; color:white;">{{ page.display_title | default: page.title }}</h1>
    
    {% if page.subtitle %}
    <h3 id="hero-subtitle" style="text-align:center; color:white;">{{ page.subtitle }}</h3>
    {% endif %}

    {% if page.hero.call_to_action.url %}
    <div class="play-icon">
      <a href={{ page.hero.call_to_action.url }} class="video-player" role="button" aria-pressed="true">
        <i class="fa fa-play-circle fa-lg"></i> {{ page.hero.call_to_action.title }}
      </a>
    </div>
    {% endif %}
  </div>
</div>