{% assign menu_exp = "item.menu." | append: include.menu %}
{% assign menu_sort = "menu." | append: include.menu | append: ".weight" %}

{% assign menu_items = site.pages | where_exp:"item", menu_exp | sort: menu_sort -%}

{%- if site.data.menus[include.menu] and site.data.menus[include.menu].size > 0 -%}

{%- assign data_menu_items = site.data.menus[include.menu] | sort: "weight" -%}

{%- assign page_count = menu_items.size -%}

{%- for item in menu_items -%}

{%- if item.menu[include.menu].weight > data_menu_items.first.weight and data_menu_items.first -%}

{%- assign temp_menu_items = menu_items | shift: forloop.index0 -%}
{%- assign menu_items = menu_items | pop: temp_menu_items.size | push: data_menu_items.first | concat: temp_menu_items -%}

{%- assign data_menu_items = data_menu_items | shift -%}
{%- endif -%}
{%- endfor -%}

{%- endif %}

{% if include.menu == "footer" %}

{% for item in menu_items %}
<li class="list-inline-item">
  <a href={{ item.url | escape }} style="color:white;">{{ item.title }}</a>
</li>
{%- endfor -%}

{% elsif include.menu == "header" %}

{% for item in menu_items %}
{% unless forloop.last == true %}
<li class="nav-item" style="margin: 0 8px;">
  <a class="nav-link active" href={{ item.url | escape }}>{{ item.title }}</a>
</li>
{%- else -%}
<li class="nav-item nav-call-to-action" style="margin: 0 16px 0 8px;">
  <a class="nav-link active" style="color: white;" href={{ item.url | escape }}>{{ item.title }}</a>
</li>
{%- endunless -%}
{% endfor %}

{% endif %}
