{%- comment -%}
<!--
include:
  logo: "path/to/logo.png"
-->
{%- endcomment -%}

<section style="padding: 80px 0; background-color: {{ include.background_color }};">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4" style="text-align:center; padding-bottom: 16px;">
                <h2>{{ include.section.display_title | default: include.section.title }}</h2>
                {{ include.section.content | markdownify }}
            </div>
        </div>

        {%- if include.section.sub_collection -%}
            {%- assign subsections = site[include.section.sub_collection] | sort: 'position' -%}
            {%- assign collection = site.collections | where: "label", include.section.sub_collection | first -%}
        {%- elsif include.section.subsections -%}
            {%- assign subsections = include.section.subsections -%}
        {%- endif -%}

        {%- assign subsections_length = subsections | size -%}

        {%- if subsections_length < 3 -%}
            {%- assign row_class = "row justify-content-center" -%}
        {%- else -%}
            {%- assign row_class = "row" -%}
        {% endif %}

        <div class="{{ row_class }}">
            {% for subsection in subsections limit:include.section.limit %}
            {%- include subsection-col.html collection=collection subsection=subsection color=include.color -%}
            {%- endfor -%}
        </div>
        
        {%- if include.section.call_to_action.url -%}
        <div style="text-align:center; padding-top: 16px;">
            <a href={{ include.section.call_to_action.url }} class="btn btn-primary btn-lg" role="button" aria-pressed="true">
                {{- include.section.call_to_action.title -}}
            </a>
        </div>
        {%- endif -%}
    </div>
</section>