<div class="row justify-content-center page-section" style="background-color:{{ include.background_color }}">
    <div class="col-10">

        <h1>{{ include.section.display_title | default: include.section.title }}</h1>

        <div class="row justify-content-center">
            <div class="col-lg-4">
                {{ include.section.content | markdownify }}
            </div>
        </div>

        {% if include.section.sub_collection %}
        {% assign subsections = site[include.section.sub_collection] | sort: 'position' %}
        {% assign collection = site.collections | where: "label", include.section.sub_collection | first %}
        {% elsif include.section.subsections %}
        {% assign subsections = include.section.subsections %}
        {% endif %}
        
        {% if subsections %}

        <div class="row justify-content-center sub-section-row">

            {% for subsection in subsections limit:include.section.limit %}
            <div class="col-lg-4 sub-section">

                {% if collection.output and subsection.image %}
                <a href={{ subsection.url }}>
                    <img src={{ subsection.image }} alt="{{ subsection.title }}" class="subsection-image">
                </a>
                {% elsif subsection.image %}
                <img src={{ subsection.image }} alt="{{ subsection.title }}" class="subsection-image">
                {% elsif subsection.fa_icon %}
                <i class="fa {{ subsection.fa_icon }} fa-5x subsection-icon"></i>
                {% endif %}
                
                <h4>{{ subsection.display_title | default: subsection.title }}</h4>

                {{ subsection.excerpt | default: subsection.body | markdownify }}
            
            </div>
            {% endfor %}

        </div>

        {% endif %}
        
        {% if include.section.call_to_action.url %}
        <a href={{ include.section.call_to_action.url }} class="btn btn-primary btn-lg section-cta" role="button" aria-pressed="true">
            {{ include.section.call_to_action.title }}
        </a>
        {% endif %}

    </div>
</div>