<div class="col-lg-4" style="text-align:center;">

    {%- capture html_code -%}

    {% if include.subsection.image %}
    <img src={{ include.subsection.image }} alt="{{ include.subsection.title }}" style="border-radius:50%; max-width:40%;">
    {% elsif include.subsection.fa_icon %}
    <i class="fa {{ include.subsection.fa_icon }} fa-5x" style="color:{{ include.color }};"></i>
    {%- endif -%}

    <h4>{{ include.subsection.display_title | default: include.subsection.title }}</h4>
    <h6>{{ include.subsection.subtitle }}</h6>

    {{ include.subsection.excerpt | default: include.subsection.body | markdownify | truncate: 160 }}

    {%- endcapture -%}

    <div class="no-link-decoration">

        {%- if include.collection.output -%}

        {%- assign link = include.subsection.website | default: include.subsection.url -%}
        
        {%- if link contains 'http' -%}
          {%- assign link_target = "_blank" -%}
        {%- else -%}
          {%- assign link_target = "_self" -%}
        {%- endif -%}

        {%- endif -%}

        {% if link %}
        <a href={{ link }} target="{{ link_target }}">
            {{ html_code }}
        </a>
        {%- else -%}
        {{ html_code }}
        {%- endif -%}
    </div>

</div>