.team-row {
    text-align: center;

    .team-col {
        padding: 0 16px 40px;

        .team-company-title {
            line-height: 1em;
            padding-bottom: 16px;
        }

        img {
            border-radius: 50%;
            max-width: 40%;
        }
    }
}