footer {
    background-color: $blue;
    color: $white;
    padding: 80px 0;
    text-align: center;

    .list-inline-item {
        margin: 0 8px;

        a {
            color: $white;
            text-decoration: none;
        }
    }

    .copyright {
        padding-top: 16px;
    }
}