.page-container {
    .page-content {
        padding: 80px 16px 80px;

        .call-to-action-col {
            text-align: center;
        }
    }
}

.call-to-action-button {
    margin-top: 80px;
}

@media print {

    body {
        font-size: $font-size-base - 0.2;
    }
}