@media print {

    div,
    br,
    div.container,
    div.resume-container,
    div.row,
    div.col,
    ul,
    ol,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    br,
    strong,
    body {
        page-break-before: avoid;
        page-break-after: avoid;
    }

    body,
    p,
    strong {
        font-size: 11px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 14px;
    }

    h6 {
        font-size: 12px;
    }
    
    div.print-page-break {
        page-break-before: always;
    }
    
    .no-print {
        display: none;
    }
}