@media print {

    div, br, div.container, h1, h2, h3, h4, h5, h6 {
        page-break-before: avoid;
        page-break-after: avoid;
    }

    body, p, strong {
        font-size: 12px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }
    
    h4 {
        font-size: 14px;
    }

    h5 {
        font-size: 12px;
    }

    h6 {
        font-size: 10px;
    }

    div.print-page-break {
        page-break-before: always;
    }

    a.resume-action-button {
        display: none;
    }
}