

$font-family-base: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-bolder: 600;

$font-weight-base: $font-weight-normal;

$headings-font-weight: $font-weight-bold;
$lead-font-weight: $font-weight-bold;

$dt-font-weight: $font-weight-bold;
$nested-kbd-font-weight: $font-weight-bold;
$btn-font-weight: $font-weight-normal;
$badge-font-weight: $font-weight-bold;
$alert-link-font-weight: $font-weight-bold;
$close-font-weight: $font-weight-bold;

$display1-weight: $font-weight-bolder;
$display2-weight: $font-weight-bolder;
$display3-weight: $font-weight-bolder;
$display4-weight: $font-weight-bolder;

$headings-line-height: 2;
$line-height-base: 1.9;
$body-color: #343a40;

$blue: #0093c9;
$brand-gray: #8a8a8d;
$black-alpha: rgba(#000000, .2);

$font-size-base: 1.1rem;
$display1-size: 5rem;
$display2-size: 4rem;
