@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i');

@import 'variables';
@import 'bootstrap/bootstrap';
@import 'page';
@import 'header';
@import 'footer';

// Page Settings

/*
.navbar {
    margin: 0;
    max-height: 120px;
    padding: 40px;
}

.subsection-image {
    border-radius: 50%;
    max-width: 60%;
}

#hero {
    background-color: $black-alpha;
    color: $white;
}

header {
    background-color: $black-alpha;
    color: $white;
}

#hero-video {
    color: $white;
    font-size: 2.5em;
    text-decoration: none;
}

// The only rule that matters
#video-background {
    // making the video fullscreen
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    right: 0;
    width: auto;
    z-index: -100;
}

// Responsive Updates

@media screen and (max-width: 414px) {
    .col-3 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    #video-background {
        visibility: hidden;
    }

    #hero {
        background-color: $blue;
    }

    .navbar {
        background-color: $white;
    }

    .display-1,
    .display-2,
    .display-3 {
        font-size: 35px !important;
        line-height: 1.5 !important;
    }
}
*/
