<script>
  var skills = {{ include.skills | jsonify }};

  if (skills.length > 1) {
    var labels = [];
    var ranks = [];

    for (var i = 0; i < skills.length; i++) {
      var item = skills[i];
      console.log("item " + item.title + " testing " + i);
      labels.push(item.title);
      ranks.push(item.rank);
    }

    var skillsTarg = document.getElementById("skills-chart").getContext('2d');

    var skillsChart = new Chart(skillsTarg, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: 'Skills',
          data: ranks,
          backgroundColor: [
            'rgba(0, 147, 201, 0.3)',
            'rgba(0, 147, 201, 0.3)',
            'rgba(0, 147, 201, 0.3)',
            'rgba(0, 147, 201, 0.3)',
            'rgba(0, 147, 201, 0.3)',
            'rgba(0, 147, 201, 0.3)',
          ],
          borderColor: [
            'rgba(0, 147, 201, 1)',
            'rgba(0, 147, 201, 1)',
            'rgba(0, 147, 201, 1)',
            'rgba(0, 147, 201, 1)',
            'rgba(0, 147, 201, 1)',
            'rgba(0, 147, 201, 1)',
          ],
          borderWidth: 1
        }]
      },
      options: {
        legend: {
          display: false
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  }
</script>