---
layout: page
---

{{ content }}

<h2>Our Team</h2>

<div class="row team-row">
  
  {% assign team = site.team_members | sort: 'position' %}
  {% for team_member in team %}
  <div class="col-md-4 team-col">

    {% if team_member.image %}
    <img src={{ team_member.image }} alt={{ team_member.title }}>
    {% endif %}

    <h3 class="team-title">{{ team_member.title }}</h3>
    <h5 class="team-company-title">{{ team_member.company_title }}</h5>

    {% if team_member.content %}
    {{ team_member.content | markdownify }}
    {% endif %}
  
  </div>
  {% endfor %}

</div>