---
layout: page
---

{{ content }}

{%- assign items = site[page.collection] | sort: "title" -%}
{%- assign collection = site.collections | where: "label", page.collection | first -%}

<h2>{{ collection.title }}</h2>

{% assign items_length = items | size %}

{%- if items_length < 3 -%}
    {% assign row_class = "row justify-content-center" %}
{% else %}
    {% assign row_class = "row" %}
{%- endif -%}

<div class="{{ row_class }}">
  {%- for item in items -%}

  {%- if item.tags contains "example" -%} {%- continue -%} {%- endif -%}
  {%- include subsection-col.html collection=collection subsection=item color=site.data.info.theme_color -%}

  {%- endfor -%}
</div>
