---
layout: page
---

{{ content }}

<h4>Email</h4>
<p>For general inquiries, email us:
  <a href="mailto:{{ site.company.email }}">
    {{ site.company.email }}
  </a>
</p>

<h4>Phone</h4>
<p>Also, you can give us a call: 
  <a href="tel:{{ site.company.phone }}">
    {% assign phone = site.company.phone | split: '' %}
    ({{ phone[1] }}{{ phone[2] }}{{ phone[3] }}) {{ phone[4] }}{{ phone[5] }}{{ phone[6] }}-{{ phone[7] }}{{ phone[8] }}{{ phone[9] }}{{ phone[10] }}
  </a>
</p>

<h4>Office</h4>
<p>You can find our office:</p>
<p>
  {{ site.company.location.address }}<br>
  {{ site.company.location.city }}, {{ site.company.location.region }} {{ site.company.location.postal_code }}<br>
</p>

<hr>
<br>

{% include forms/email-signup.html %}