---
layout: page
---

{{ content }}
<hr>
<br>

<p>For general inquiries, email us:
  <a href="mailto:{{ site.contact.email }}">
    {{ site.contact.email }}
  </a>
</p>
<p>Also, you can give us a call: 
  <a href="tel:{{ site.contact.phone }}">
    {% assign phone = site.contact.phone | split: '' %}
    ({{ phone[1] }}{{ phone[2] }}{{ phone[3] }}) {{ phone[4] }}{{ phone[5] }}{{ phone[6] }}-{{ phone[7] }}{{ phone[8] }}{{ phone[9] }}{{ phone[10] }}
  </a>
</p>
<p>You can find our office: <br>
  {{ site.contact.full_name }} <br>
  {{ site.contact.address.street }} {{ site.contact.address.unit }}<br>
  {{ site.contact.address.city }}, {{ site.contact.address.state }} {{ site.contact.address.zip }}<br>
</p>
