---
layout: page
---

{{ content }}

<h2> Course Subjects </h2>

{% for subject_title in page.subjects %}
{% assign subject = site.subjects | where: "title", subject_title | first %}
<h4> {{ subject.title }} </h4>
{{ subject.content | markdownify }}
{% endfor %}

{% if page.price %}
<h2>Pricing</h2>

{% capture pricing_info %}
Our {{ page.title }} course costs {{ page.price }}.
If you choose to pay for the course up-front, we'll give you 10% off the course cost.
However, we do offer course financing that you can take advantage of. {% if page.has_scholarship %}
Think you've got what it takes to go through this course with flying colors? You might qualify for a scholarship. {% endif %}

More details coming soon.
{% endcapture %}

{{ pricing_info | markdownify }}

{% endif %}

{% unless page.start_date %}
<p>More details about this course coming soon</p>
{% else %}

{% capture counter_js %}
{% include counters/course-start-date-counter.js start_date=page.start_date %}
{% endcapture %}

<script>{{ counter_js }}</script>
{% endunless %}
