---
layout: page
---

{%- capture nowunix -%} {{ "now" | date: "%s" }} {%- endcapture -%}
{%- assign course_classes = site.classes | where: "course", page.path | sort: "start_date" -%}

{%- for class in course_classes -%}
    {%- capture class_time -%} {{ class.start_date | date: "%s" }} {%- endcapture -%}

    {%- if class_time > nowunix -%}
        {%- assign next_class = class -%}
        {%- break -%}
    {%- endif -%}
{%- endfor -%}

<div id="hire-form" class="row">
  <div class="col-lg-6">
    <h1>{{ page.title }}</h1>
    {{content}}

    {%- if next_class -%}
    {% assign next_class_start = next_class.start_date | date: "%B %e" -%}
    {%- assign course_details = "Our next !PAGE_TITLE! class starts on !NEXT_CLASS_START! and will cost !NEXT_CLASS_PRICE!. However, we do offer course financing that you can take advantage of. More details coming soon." -%}
    {%- assign course_details = course_details | replace: "!PAGE_TITLE!", page.title | replace: "!NEXT_CLASS_START!", next_class_start -%}

    {%- assign class_price = next_class.price | prepend: "$" -%}
    {%- assign course_details = course_details | replace: "!NEXT_CLASS_PRICE!", class_price -%}

    {{ course_details | markdownify }}
    {% endif -%}

    {% if next_class.has_scholarship %}
    {% include call-to-action-rows.html call_to_action=site.data.info.classes_cta hide_title=true is_button_centered=false %}
    {% endif %}
  </div>

  <div class="col-lg-6">
    <h2>Contact Us</h2>
    <p>Give us a call at <a href="tel:{{ site.data.info.phone }}">{{ site.data.info.display_phone }}</a> or send us a message:</p>
    {% include forms/course-form.html to_email=site.data.info.email submit_title="Submit" %}
  </div>
</div>

<h2>Subjects</h2>

<p>Here's a list of the subjects covered in this course:</p>

{%- for subject_path in page.subjects -%}
{% assign subject = site.subjects | where: "path", subject_path | first %}
<h4>{{ subject.title }}</h4>
{{ subject.content | markdownify }}
{%- endfor -%}

{% if next_class.start_date %}

{% capture counter_js %}
{% include counters/course-start-date-counter.js start_date=next_class.start_date %}
{% endcapture %}

<script>{{ counter_js }}</script>
{% endif %}
