---
layout: page
---

{{ content }}

{% if page.price %}
<h1> Pricing </h1>
<p> The price up-front is {{ page.price }}.
{% if page.has_scholarship %}
Think you've got what it takes to go through this course with flying colors? You might qualify for a scholarship. </p>
{% endif %}
</p>
{% endif %}

<h1> Course Subjects </h1>

{% for subject_title in page.subjects %}
{% assign subject = site.subjects | where: "title", subject_title | first %}
<h4> {{ subject.title }} </h4>
<p>{{ subject.content | markdownify }}</p>
{% endfor %}

{% if page.call_to_action.url %}
<h1> Aptitude Test </h1>

<p> If you're interested in this course, please take the our aptitude test. </p>
{% endif %}

{% if page.start_date %}
<script>
  // Set the date we're counting down to
  var dateString = "{{ page.start_date | date: "%b %e, %Y %k:%M:%S" }}";
  var countDownDate = new Date(dateString).getTime();
  
  // Update the count down every 1 second
  var x = setInterval(function() {
  
      // Get todays date and time
      var now = new Date().getTime();
      
      // Find the distance between now an the count down date
      var distance = countDownDate - now;
      
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      
      // Output the result in an element with id="hero-subtitle"
      var heroSubtitle = document.getElementById("hero-subtitle");
      heroSubtitle.style.opacity = 0;
      var existing = heroSubtitle.innerHTML.split("<br><br>")[0];
      
      // If the count down is over, write some text 
      if (distance < 0) {
        clearInterval(x);
      } else {
        existing += "<br><br>This course starts in " + days + " days and " + hours + " hours";
      }

      heroSubtitle.innerHTML = existing;
      heroSubtitle.style.opacity = 1;

  }, 1000);
</script>
{% endif %}
