---
layout: page
---

{{ content }}

{% assign faqs = site.faqs | sort: 'position' %}

{% assign company_faqs = faqs | where_exp: "faq", "faq.categories contains 'company'" %}
{% assign courses_faqs = faqs | where_exp: "faq", "faq.categories contains 'courses'" %}

<h2>Table of Contents</h2>

<strong>Company</strong>

<ul>
    {% for faq in company_faqs %}
    <li>
        <a href="#{{ faq.slug }}">{{ faq.title }}</a>
    </li>
    {% endfor %}
</ul>

<strong>Courses</strong>

<ul>
    {% for faq in courses_faqs %}
    <li> <a href="#{{ faq.slug }}">{{ faq.title }}</a> </li>
    {% endfor %}
</ul>

<hr>

<h2>FAQs</h2>

<h3>Company Questions</h3>

{% for faq in company_faqs %}
<strong id="{{ faq.slug }}">{{ faq.title }}</strong>
{{ faq.content | markdownify }}
{% endfor %}

<h3>Courses Questions</h3>

{% for faq in courses_faqs %}
<strong id="{{ faq.slug }}">{{ faq.title }}</strong>
{{ faq.content | markdownify }}
{% endfor %}
