---
layout: page
---

{{ content }}

{% assign faqs = site.faqs | sort: "title" %}

{% assign faq_categories = "" | split:"|" %}
{% for faq in faqs %}
    {% for cat in faq.categories %}
        {% assign faq_categories = faq_categories | push: cat | uniq %}
    {% endfor %}
{% endfor %}

{% assign sections = "Table of Contents|FAQs" | split:"|" %}
{% for section in sections %}

    <h2>{{ section }}</h2>

    {% for category in faq_categories %}
        {% assign expression = "faq.categories contains 'category'" | replace: "category", category %}
        {% assign category_faqs = faqs | where_exp: "faq", expression %}

        {% case section %}
        {% when 'Table of Contents' %}
            <strong>{{ category | capitalize }}</strong>
            <ul>
                {% for faq in category_faqs %}
                    <li><a href="#{{ faq.slug }}">{{ faq.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>{{ category | capitalize }} Questions</h3>
            {% for faq in category_faqs %}
                <strong id="{{ faq.slug }}">{{ faq.title }}</strong>
                {{ faq.content | markdownify }}
            {% endfor %}
        {% endcase %}
    {% endfor %}
{% endfor %}
