---
layout: default
---

<div class="page-container index-container">
  {% include header.html %}

  {% capture background_color %} {% cycle '#fff', '#fafafa' %} {% endcapture %}

  <div id="hire-form" class="row justify-content-center" style="background-color:{{ background_color }}; padding: 40px 40px;">

    <div class="col-lg-4">
      {{content}}
    </div>

    <div class="col-lg-1"></div>

    <div class="col-lg-4">
      <h1>Contact Us</h1>
      {% include sales-form.html %}
    </div>
  </div>

  {% for title in page.pagesections %}
  {% assign section = site.pagesections | where: "title", title | first %}
  
  {% capture background_color %} {% cycle '#fff', '#fafafa' %} {% endcapture %}

  {% include section.html background_color=background_color section=section %}

  {% if forloop.last == true %}
  {% capture mail_bg %} {% cycle '#fff', '#fafafa' %} {% endcapture %}
  {% endif %}

  {% endfor %}

  {% include footer.html %}
</div>
