---
layout: default
---

<div class="container-fluid page-container">
  {% include header.html %}

  {% for section in page.sections %}
  
  {% capture style %} {% cycle 'background-color:#fff', 'background-color:#fafafa' %} {% endcapture %}

  <div class="row justify-content-center page-section" style="{{ style }}">
    <div class="col-10">
      
      {% if section.title %}
      <h1 class="display-2"> {{ section.title }} </h1>
      {% endif %}

      {% if section.body %}
      {{ section.body | markdownify }}
      {% endif %}

      <div class="row justify-content-center">
        
        {% for item in site[section.collection] limit:section.limit %}
        <div class="col-lg-4 sub-section">

          {% assign collection = site.collections | where: "label", section.collection | first %}

          {% if collection.output and item.image %}
          <a href={{ item.url }}>
            <img src={{ item.image }} alt={{ item.title }} class="subsection-image">
          </a>
          {% elsif item.image %}
          <img src={{ item.image }} alt={{ item.title }} class="subsection-image">
          {% endif %}

          <h4>{{ item.title }}</h4>

          {% if item.content %}
          {{ item.content | markdownify }}
          {% endif %}

          {% if collection.output %}
            <a href={{ item.url }} class="btn btn-primary section-button" role="button" aria-pressed="true">
              View More
            </a>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      
      {% if section.call_to_action %}
      <a href={{ section.call_to_action.url }} class="btn btn-primary btn-lg section-button call-to-action-button" role="button" aria-pressed="true">
        {{ section.call_to_action.title }}
      </a>
      {% endif %}

    </div>
  </div>

  {% endfor %}

  {% include footer.html %}
</div>