---
layout: default
---

{% include header.html %}
{% include hero.html %}

{% for title in page.sections %}
{% assign section = site.sections | where: "title", title | first %}

{% capture background_color %} {% cycle '#fff', '#fafafa' %} {% endcapture %}

{% include section.html background_color=background_color section=section %}

{% if forloop.last == true %}
{% capture background_color %} {% cycle '#fff', '#fafafa' %} {% endcapture %}
{% endif %}

{% endfor %}

<section style="padding: 80px 0; background-color:{{ background_color }};">
  <div class="container">
    <div class="row">
      <div class="col" style="text-align:center;">
        <h2>Keep Me Updated</h2>
  
        <p>Want to stay updated on what's happening with {{ site.title }}?</p>
        <p>You can subscribe to our mailing list. We promise we won't spam you.</p>
        
        <br>
        {% include forms/email-signup.html %}
      </div>
    </div>
  </div>
</section>

{% include footer.html %}