---
layout: default
---

{% include header.html %}
{% include hero.html %}

<div class="container" style="padding: 40px 0 80px;">
  <div class="row">
    <div class="col">
      {{ content }}
    </div>
  </div>

  {% if page.call_to_action.url %}
  {% if page.call_to_action.url contains 'http' %}
    {% assign link_target = "_blank" %}
  {% else %}
    {% assign link_target = "_self" %}
  {% endif %}

  <div class="row justify-content-center" style="padding-top: 80px; text-align:center;">
    <div class="col">
      <a href="{{ page.call_to_action.url }}" target="{{ link_target }}" class="btn btn-primary btn-lg call-to-action-button" role="button" aria-pressed="true">
        {{ page.call_to_action.title }}
      </a>
    </div>
  </div>

  {% endif %}

  {% if page.sections.first %}
  {% for title in page.sections %}
  {% assign section = site.sections | where: "title", title | first %}
  
  {% capture background_color %} {% cycle '#fff', '#fafafa' %} {% endcapture %}
  
  {% include section.html background_color=background_color section=section %}
  
  {% if forloop.last == true %}
  {% capture background_color %} {% cycle '#fff', '#fafafa' %} {% endcapture %}
  {% endif %}
  
  {% endfor %}
  {% endif %}
</div>

{% include footer.html %}