---
layout: default
---

<div class="container" style="padding:60px 0;">

  <!-- Image, Title, Content Row -->
  <div class="row">
    <div class="col-12" style="text-align:center;">
      {% if page.image %}
      <img src={{ page.image }} alt="{{ page.title }}" style="max-width:160px; border-radius:50%">
      {% endif %}
      <h4>{{ page.title }}</h4>
      
      {% if page.class %}
      <strong>{{ page.class }} Graduate</strong>
      {% endif %}

      <p>
        <a href="{{ "https://www.github.com/" | append: page.social.github }}" target="_blank" style="color:#212529; margin: 0px 10px;">
          <i class="fa fa-github fa-lg"></i>
        </a>
        <a href="{{ "https://www.linkedin.com/in/" | append: page.social.linkedin }}" target="_blank" style="color:#212529; margin: 0px 10px;">
          <i class="fa fa-linkedin-square fa-lg"></i>
        </a>
        <a href="{{ "https://www.codewars.com/users/" | append: page.social.codewars }}" target="_blank" style="margin: 0px 10px;">
          <img src="{{ "assets/images/codewars.svg" | relative_url }}" alt="Codewars" style="width:20px;">
        </a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      {{ content }}
    </div>
  </div>

  <!-- Image, Title, Content, Charts Row -->
  <div class="row justify-content-center">

    <!-- Skills Col -->
    {% if page.skills[1] %}
    <div class="col-xl-6" style="text-align:center;">
      <h5>Skill Sets</h5>
      <canvas id="skills-chart" width="32" height="24" style="max-width: 480px; margin: 0 auto;"></canvas>
    </div>
    {% endif %}

    <!-- Codewars Col -->
    {% if page.codewars_scores[1] %}
    <div class="col-xl-6" style="text-align:center;">
      <h5>Codewars Scores</h5>
      <canvas id="codewars-chart" width="32" height="24" style="max-width: 480px; margin: 0 auto;"></canvas>
    </div>
    {% endif %}

  </div>

  <!-- Personality Row -->
  {% if page.personality_type %}
  <br/>
  <div class="row">
    <div class="col-12">
      {% assign type = site.personality_types | where: "title", page.personality_type | first %}
      <h4>Personality Type</h4>
      <strong>{{ type.title }}</strong>
      {{ type.content | markdownify }}
    </div>
  </div>
  {% endif %}

  <!-- Reviews Row -->
  {% if page.reviews[0].body %}
  <br/>
  <div class="row">
    <div class="col-12">
      <h4>Instructor Reviews</h4>
      {% for review in page.reviews %}
      {{ review.body | markdownify }}
      <p>
        <strong>{{ "- " | append: review.teammate }}</strong>
      </p>

      {% endfor %}
    </div>
  </div>
  {% endif %}

  <!-- Experience Row -->
  {% if page.experience[0].company %}
  <br/>
  <div class="row">
    <div class="col-12">
      <h4>Experience</h4>
      {% for experience in page.experience %}

      <p>
        <strong>{{ experience.company | capitalize }}</strong> / {{ experience.job_title | capitalize }}
        <br/> {{ experience.start_date | date: "%b %Y" | upcase }} -
        {{ experience.end_date | date: "%b %Y" | default: "Present" | upcase }}
      </p>

      {{ experience.body | markdownify }}

      {% endfor %}
    </div>
  </div>
  {% endif %}

  <!-- Education Row -->
  {% if page.education[0].school %}
  <br/>
  <div class="row">
    <div class="col-12">
      <h4>Education</h4>
      {% for education in page.education %}

      <p>
        <strong>{{ education.school | capitalize }}</strong> {% if education.degree %} / {{ education.degree | capitalize }}{% endif %}
        <br/>
        {{ education.graduation_date | date: "%b %Y" | upcase }}, {{ education.location | upcase }}
      </p>

      {{ education.body | markdownify }}
      
      {% endfor %}
    </div>
  </div>
  {% endif %}

</div>

<!-- Javascript Chart Source -->
<script src="{{ "/assets/js/chart/Chart.min.js" | relative_url }}"></script>

<!-- Javascript Skills Chart -->
{% include charts/codewars-skills-bar-chart.html skills=page.skills %}

<!-- Javascript Codewars Chart -->
{% include charts/codewars-scores-chart.html scores=page.codewars_scores %}
