---
layout: default
---

{% assign class = site.classes | where: "title", page.class | first %}

<div class="container" style="padding:60px 16px;">


  <!-- Image, Title, Content Row -->
  <div class="row">
    <div class="col-1">
      <a class="resume-action-button" href="{{ "coders" | relative_url }}" style="color:#212529; margin: 0px 10px;">
        <i class="fa fa-chevron-left fa-lg"></i>
      </a>
    </div>

    <div class="col-10" style="text-align:center;">

      {% if page.image %}
      <img src={{ page.image }} alt="{{ page.title }}" style="max-width:144px; border-radius:50%">
      {% endif %}
      <h3>{{ page.title }}</h3>

      <img src="{{ "uploads/logo-only.svg" | relative_url }}" alt="Logo" style="width:64px;">
      
      {% if page.class %}
      <strong>{{ page.class }} Graduate</strong>
      {% endif %}

      {% if page.profiles %}
      <ul class="list-inline">
        {% if page.profiles.github %}
        <li class="list-inline-item">
          <a href="{{ "https://www.github.com/" | append: page.profiles.github }}" target="_blank" style="color:#212529; text-decoration:none; margin: 0px 10px;">
            <i class="fa fa-github fa-lg"></i> {{ page.profiles.github }}
          </a>
        </li>
        {% endif %}

        {% if page.profiles.linkedin %}
        <li class="list-inline-item">
          <a href="{{ "https://www.linkedin.com/in/" | append: page.profiles.linkedin }}" target="_blank" style="color:#212529; text-decoration:none; margin: 0px 10px;">
            <i class="fa fa-linkedin-square fa-lg"></i> {{ page.profiles.linkedin }}
          </a>
        </li>
        {% endif %}

        {% if page.profiles.codewars %}
        <li class="list-inline-item">
          <a href="{{ "https:/www.codewars.com/users/" | append: page.profiles.codewars }}" target="_blank" style="color:#212529; text-decoration:none; margin: 0px 10px;">
            <img src="{{ "assets/images/codewars.svg" | relative_url }}" alt="Codewars" style="width:20px;"> {{ page.profiles.codewars }}
          </a>
        </li>
        {% endif %}

        {% if page.personality_type %}
        {% assign type = site.personality_types | where: "title", page.personality_type | first %}
        <li class="list-inline-item">
          <a href="{{ "https://www.16personalities.com/" | append: type.title | append: "-personality" | downcase }}" target="_blank" style="color:#212529; text-decoration:none; margin: 0px 10px;">
            <i class="fa fa-lightbulb-o fa-lg"></i> {{ type.title | downcase }}
          </a>
        </li>
        {% endif %}
      </ul>
      {% endif %}

    </div>

    <div class="col-1" style="text-align:end;">
      <!--
      <a class="resume-action-button" href="{{ "/resumes/" | append: page.slug | append: ".pdf" }}" target="_blank" style="color:#212529; margin: 0px 10px;">
        <i class="fa fa-external-link fa-lg"></i>
      </a>
      -->
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      {{ content }}
    </div>
  </div>


  <!-- Experience Row -->
  {% if page.work[0].company %}

  {% assign works = page.work | sort: 'start_date', 'last' %}
  {% assign works = works | sort: 'end_date', 'last' | reverse %}
  {% assign company = "" %}

  <br/>
  <div class="row">
    <div class="col-12">
      <h4>Experience</h4>
    </div>
  </div>

  {% for work in works %}
  
  {% unless work.company and work.position %} {% continue %} {% endunless %}
  
  {% if work.end_date < site.time %}
  {% assign end_date = work.end_date | date: "%b %Y" | default: "Present" | upcase %}
  {% else %}
  {% assign end_date = "Present" %}
  {% endif %}

  <div class="row">
    <div class="col-md-4">
      <p>
        {% if company != work.company %}
        <h5>{{ work.company }}</h5>
        {% endif %}
        <h6>{{ work.position }}</h6>
        {{ work.start_date | date: "%b %Y" | upcase }} - {{ end_date }}
      </p>
    </div>

    <div class="col-md-8">
      <br/>
      {{ work.body | markdownify }}
    </div>
  </div>

  {% assign company = work.company %}
  {% endfor %}

  {% endif %}


  <!-- Education Row -->
  {% if page.education[0].institution %}

  {% assign educations = page.education | push: class | sort: 'end_date', 'last' | reverse %}

  <br/>
  <div class="row">
    <div class="col-12">
      <h4>Education</h4>
    </div>
  </div>

  {% for education in educations %}
  
  {% unless education.institution %} {% continue %} {% endunless %}
  
  {% if education.end_date < site.time %}
  {% assign end_date = education.end_date | date: "%b %Y" | default: "Present" | upcase %}
  {% else %}
  {% assign end_date = "Present" %}
  {% endif %}

  <div class="row">
    <div class="col-md-4">
      <p>
        <h5>{{ education.institution }}</h5>
        {% if education.area %}
        <h6>{{ education.area }}</h6>
        {% endif %}
        {{ end_date }}, {{ education.location }}
      </p>
    </div>

    <div class="col-md-8">
      {% if education.courses.first %}
      <br/>
      <ul>
        {% for course in education.courses %}
        <li>{{ course }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>

  {% endfor %}

  {% endif %}


  <!-- Skills Row -->
  {% if page.skills[0].name %}
  <br/>
  <div class="row">
    <div class="col-12">
      <h4>Skills</h4>
    </div>
  </div>

  <div class="row">
    {% for skill in page.skills %}
    <div class="col-6 col-md-3 col-lg-2">
      <p>
        {{ skill.name }}
      </p>
    </div>

    <div class="col-6 col-md-3 col-lg-2">
      <p>
        {% for i in (1..5) %}
        {% if i < skill.level %}
          <i class="fa fa-circle"></i>
        {% else %}
          <i class="fa fa-circle-o"></i>
        {% endif %}
        {% endfor %}
      </p>
    </div>
    {% endfor %}
  </div>

  {% endif %}

  <!-- References Row -->
  <br/>
  <div class="row">
    <div class="col-12">
      <h4>References</h4>
      
      {% if page.references[0].reference %}
      {% assign references = page.references | sort: 'name' | reverse %}
      {% assign collection = site.collections | where: 'label', 'coders' | first %}
      {% for reference in references limit: collection.references_limit %}

      <p>

        {% assign teammate = site.teammates | where: "title", reference.name | first %}

        {% if teammate %}
          {% assign position = teammate.subtitle %}
          {% assign company = site.company.full_name %}
        {% endif %}

        {{'“' | append: reference.reference | append: '”'}} <br/>
        <strong>- {{ reference.name }}</strong> | {% if position and company %}{{ position }} at {{ company }}{% endif %}
      </p>

      {% endfor %}
      {% endif %}

      <p>Further references and contact info for {{ page.title }} are available upon request.</p>
    </div>
  </div>


  <!-- Charts Row -->
  <!-- Uncomment for Bar Charts
  <br/>
  <div class="row justify-content-between">

    {% if page.skills[1].level > 1 %}
    <div class="col-xl-5" style="text-align:center;">
      <h4>Skill Sets</h4>
      <canvas id="skills-chart" width="32" height="22" style="max-width: 480px; margin: 0 auto;"></canvas>
    </div>
    {% endif %}

    {% if page.codewars_scores[1] > 0 %}
    <div class="col-xl-5" style="text-align:center;">
      <h4>Codewars Score</h4>
      <canvas id="codewars-chart" width="32" height="22" style="max-width: 480px; margin: 0 auto;"></canvas>
    </div>
    {% endif %}

  </div>
  -->
</div>


<!-- Javascript Chart Source -->
<script src="{{ "/assets/js/chart/Chart.min.js" | relative_url }}"></script>

<!-- Javascript Skills Chart -->
{% include charts/codewars-skills-bar-chart.html skills=page.skills %}

<!-- Javascript Codewars Chart -->
{% include charts/codewars-scores-chart.html scores=page.codewars_scores %}
