.content-wrapper {
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  margin: 0 auto;
}

.page-title {
  color: $color-text;
  margin: 0px;
  font-size: $font-size-title;
  line-height: $font-size-title * 1.2;
}

.profile-image {
  margin: 40px 0px 0px;
  height: $profile-image-height;
  border-radius: 50%;
}

.page-content {
  padding: 0px 0px 40px;
}

.contact-list {
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

.button {
  font-family: $header-font;
  font-weight: $header-font-weight;
  border: 2px solid $color-primary;
  color: $color-primary;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
}

li.contact-list-item {
  float: left;
  margin-right: 40px;
  list-style: none;
  margin-top: 80px;
  margin-bottom: 20px;
}
