<form action="{{ site.data.forms.mailchimp.action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
  <div class="form-group row justify-content-center">
    <div class="col-auto">
      <input type="email" value="" name="EMAIL" id="mce-EMAIL" required="required" class="form-control" placeholder="Email Address">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_97f1bc02efa56031b67a2b00f_fc7b4ce646" tabindex="-1" value="">
    </div>
  </div>
</form>